# URI de conexión a MongoDB
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.1weo2z1.mongodb.net/mundiales?appName=Cluster0

# Credenciales de SQL Server 
SQL_SERVER=localhost,1433
SQL_DB=mundiales
SQL_USER=sa
SQL_PASSWORD=<tu_password_de_sql>